body{
    background-image: linear-gradient(to top, #6956ca, #b251c3);
}
.background {
    width: 507.6px;
    height: 237px;
    margin: 0 55.9px 0 0;
    padding: 20.7px 56.1px 17.2px 24.5px;
    border-radius: 194.5px;
    background-color: #ffffff;
  }