/* * { border: 1px solid black; }  */

.container{

    display: grid;
    width: 200px;
    grid-template-columns: 40px  auto 50px ;
    grid-template-rows: 33% 33% 33%;
 
} 


.item-a {
  grid-area: header;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
}

.container {
  display: grid;
  width: 300px;
  grid-template:auto/ 50px 50px 50px 50px;
  grid-template: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
    grid-gap: 10px 15px;
    place-items: end end ;
}

.item-a{
    grid-area: 1/2/3/4;
    background-color: blueviolet;
   justify-content: center;
   align-items: center;
   
   
}
.item-b{
    grid-column: 5/6;
    grid-row: 2/3;
}
.container1{
    display: grid;
    grid-template-columns: 60px 50px ;
    grid-template-rows:90px 90px  ;
   grid-auto-columns: 60px;
}
/* @keyframes dynamic-text-color{
    0%{
        color: aquamarine;
    }
    25%{
        color: orange;
    }
    50%{
        color: blue;
    }
    100%{
        color: brown;
    }
}